<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.adhoc.manet.logger"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk android:minSdkVersion="9" />
    
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />  
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <!-- NOTE: receiver and service tags must be embedded within application tag -->
    <application android:icon="@drawable/gear_icon_48" 
        android:logo="@drawable/gear_icon_48" 
        android:label="@string/global_service_name"
        android:debuggable="true">
   
        <activity android:name="android.adhoc.manet.logger.ManetLoggerActivity"
            android:label="@string/global_service_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        	    
	    <service android:name="android.adhoc.manet.logger.ManetLoggerService"/>
	    
    </application>
    
</manifest>